@import '@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #EAEAEA;
}
header, footer {
  background: #557A95; 
  color: aliceblue;
}
nav {
  margin: 20px;
}
button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  color: aliceblue;
}
.btn-link {
  color: aliceblue;
}
.toggler-btn {
  color: aliceblue;
}
.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(255,255,255,1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
.nav-btn {
  background: #557A95;
  color: aliceblue;
  border: none;
}
#main_alue {
  margin-top: 20px;
}
.hero-img {
  width: 100%;
  height: 500px;
  background-image: url("/images/Toimisto_kuva.png");
  background-size: cover;  /* Täyttää koko säiliön */
  background-position: center; /* Keskittää kuvan */
  background-repeat: no-repeat; /* Poistaa toiston käytöstä */

  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Tekstin väri */
  font-size: 2rem; /* Tekstin koko */
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Tekstin varjo */
  margin-bottom: 1rem;
}
.content-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.slogan-img {
  width: 300px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}
.footer-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-nav-address {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #557A95;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
}
.footer-nav-button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #557A95;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
}
.some {
  margin: 0;
  padding: 60px 5px;
}
/* Styles for henkilosto */
.invalid-feedback {
  display: none;
}

input.is-invalid {
  border-color: #dc3545;
}

input.is-valid {
  border-color: #28a745;
}

#employee-list {
  display: none;
}